{% extends 'base.jinja2' %}

{% block title %}Edit Site{% endblock %}

{% block content_before %}

  <div class="jumbotron shadow-sm py-0">
    <div class="container">

      {# Text #}
      <div class="text-center">
        <span class="h3 mb-0"><br/>Edit Site</span>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}
    <form method=post>
        <dl>
            {{ form.csrf_token }}
            {{ render_field(form.name) }}
            {{ render_field(form.loc_type) }}
            {{ render_field(form.size_type) }}
            {{ render_field(form.est_area) }}
            {{ render_field(form.length) }}
            {{ render_field(form.submit) }}
        </dl>
    </form>
{% endblock %}