{% extends 'base.jinja2' %}

{% block title %}Sites{% endblock %}

{% block content_before %}

  <div class="jumbotron shadow-sm py-0">
    <div class="container">

      {# Text #}
      <div class="text-center">
        <span class="h3 mb-0"><br/>Sites<br/><br/></span>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}
<a href="{{ url_for('sites.new') }}"
                   class="btn btn-primary"
                   role="button"
                   aria-disabled="true">
      New site
    </a>
    <hr/>
  {% if sites %}
  <div class='table-responsive'>
    <table class="table table-white table-striped table-bordered table-hover"
          id="table_id"
          data-order='[[ 1, "asc" ]]'
          data-page-length='25'>
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Location Type</th>
        <th scope="col">Elevation</th>
        <th scope="col">Snag/Perch</th>
        <th scope="col">Perimeter Taken</th>
        <th scope="col">Comments</th>
      </tr>
      </thead>
      <tbody>
        {% for site in sites %}
          <tr>
            <td>
              <a href="{{ url_for('sites.view', id=site.id) }}"
                class="btn btn-primary btn-block"
                role="button"
                aria-disabled="true">
                View
              </a>
              <br/>
              <a href="{{ url_for('sites.edit', id=site.id) }}"
                class="btn btn-primary btn-block"
                role="button"
                aria-disabled="true">
                Edit
              </a>
            </td>
            <td>
              {{ site.name }}
            </td>
            <td>
              {{ site.loc_type }}
            </td>
            <td>
              {{ site.elev }}
            </td>
            <td>
              {{ site.snag_perch }}
            </td>
            <td class="text-center">
              {% if site.perimeter %}
                Yes <h4 class="far fa-check-square text-success"></h4>
              {% else %}
                No <h4 class="far fa-times-circle text-danger"></h4>
              {% endif %}
            </td>
            <td>
              {{ site.comment }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
    No sites to show
  {% endif %}
{% endblock %}

{% block js %}
  {{ super() }}
  <script>
    $(document).ready( function () {
      $('#table_id').DataTable({
        "columnDefs": [{ "orderable": false, "searchable": false, "targets": 0 }]
      });
    });
  </script>
{% endblock %}
