{% extends 'base.jinja2' %}

{% block title %}Site {{ site.name }}{% endblock %}

{% block content_before %}

  <div class="jumbotron shadow-sm py-0">
    <div class="container">
      <div class="text-center">
        <span class="h3"><br/>Site {{ site.name }}<br/><br/></span>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}
    <div class="card">
      <div class="card-header">
      </div>
      <div class="card-body">

      </div>
    </div>
{% endblock %}
