{% extends 'base.jinja2' %}

{% block title %}Site {{ site[0].name }}{% endblock %}

{% block content_before %}
  Site {{ site[0].name }}
{% endblock %}

{% block content %}
  <div class="card shadow-sm">
    <div class="card-header">
      Information About Site
    </div>
    <div class="card-body">
      <div class="row mt-3">
        <div class="col text-right">
          Location Type:
        </div>
        <div class="col">
          {{ site[0].loc_type }}
        </div>
      </div>
      <div class="row mt-3">
        <div class="col text-right">
          Elevation:
        </div>
        <div class="col">
          {{ site[0].elev }} meters
        </div>
      </div>
      <div class="row mt-3">
        <div class="col text-right">
          Snag/Perch #:
        </div>
        <div class="col">
          {{ site[0].snag_perch }}
        </div>
      </div>
      <div class="row mt-3">
        <div class="col text-right">
          Primary Substrate:
        </div>
        <div class="col">
          {{ site[0].psub }}
        </div>
      </div>
      <div class="row mt-3">
        <div class="col text-right">
          Precentage Primary Substrate:
        </div>
        <div class="col">
          {{ site[0].perc_psub }}
        </div>
      </div>
      <div class="row mt-3">
        <div class="col text-right">
          Substrate Range:
        </div>
        <h3 class="col">
          <span class="badge {% if site[0].silt_clay %} badge-primary {% else %} badge-white text-white {% endif %}">Silt/Clay</span>
          <span class="badge {% if site[0].sand %} badge-primary {% else %} badge-white text-white {% endif %}">Sand</span>
          <span class="badge {% if site[0].gravel %} badge-primary {% else %} badge-white text-white {% endif %}">Gravel</span>
          <span class="badge {% if site[0].sm_rocks %} badge-primary {% else %} badge-white text-white {% endif %}">Small Rocks</span>
        </h3>
      </div>
      <div class="row mt-0">
        <div class="col text-right">
          Estimated Area:
        </div>
        <div class="col">
          {% if site[0].est_area %}
            {{ site[0].est_area }} hectares
          {% else %}
            No Data
          {% endif %}
        </div>
      </div>
      <div class="row mt-3">
        <div class="col text-right">
          Length:
        </div>
        <div class="col">
          {% if site[0].length %}
            {{ site[0].length }} meters
          {% else %}
            No Data
          {% endif %}
        </div>
      </div>
      <div class="row mt-3">
        <div class="col text-right">
          Perimeter Taken:
        </div>
        <div class="col">
          {% if site[0].perimeter %}
            <h4 class="far fa-check-square text-success"></h4>
          {% else %}
            <h4 class="far fa-times-circle text-danger"></h4>
          {% endif %}
        </div>
      </div>
      <div class="row mt-3">
        <div class="col text-right">
          Perimeter Length:
        </div>
        <div class="col">
          {% if site[0].perimeter_length %}
            {{ site[0].perimeter_length }} meters
          {% else %}
            No Data
          {% endif %}
        </div>
      </div>
      <div class="row mt-3">
        <div class="col text-right">
          Distance to Mainland:
        </div>
        <div class="col">
          {% if site[0].mainland_distance %}
            {{ site[0].mainland_distance }} meters
          {% else %}
            No Data
          {% endif %}
        </div>
      </div>
      <div class="row mt-3">
        <div class="col text-right">
        Comment:
        </div>
        <div class="col">
          {{ site[0].comment }}
        </div>
      </div>
    </div>
  </div>
  {% if current_user.is_authenticated %}
    <hr/>
    <a href="{{ url_for('surveys.new', site_id = site[0].id) }}"
                    class="btn btn-primary"
                    role="button"
                    aria-disabled="true">
      New Survey
    </a>
  {% endif %}
  <hr/>
  {% if site[0].surveys %}
    <div class='table-responsive'>
      <table class="table table-white table-striped table-bordered table-hover"
            id="table_id"
            data-order='[[ 1, "asc" ]]'
            data-page-length='25'>
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Date</th>
          <th scope="col">Site</th>
          <th scope="col">Avg Adult Count</th>
          <th scope="col">Nests w/ Eggs</th>
          <th scope="col">Surveyed</th>
          <th scope="col">Cameras</th>
          <th scope="col">Surveyed Species</th>
          <th scope="col">Recorded Species</th>
        </tr>
        </thead>
        <tbody>
          {% for survey in site[0].surveys %}
            <tr>
              <td>
                <a href="{{ url_for('surveys.view', id=survey.id) }}"
                  class="btn btn-primary btn-block"
                  role="button"
                  aria-disabled="true">
                  View
                </a>
                {% if current_user.is_authenticated %}
                  <br/>
                  <a href="{{ url_for('surveys.edit', id=survey.id) }}"
                    class="btn btn-primary btn-block"
                    role="button"
                    aria-disabled="true">
                    Edit
                  </a>
                {% endif %}
              </td>
              <td>
                {{ survey.date }}
              </td>
              <td>
                {{ survey.site.name }}
              </td>
              <td>
                {% set count=0 %}
                {% if survey.ac1 > 0 %}
                  {% set count=count+1 %}
                {% endif %}
                {% if survey.ac2 > 0 %}
                  {% set count=count+1 %}
                {% endif %}
                {% if survey.ac3 > 0 %}
                  {% set count=count+1 %}
                {% endif %}
                {% if count > 0 %}
                  {{ ((survey.ac1 + survey.ac2 + survey.ac3)/count)|round(1, 'floor') }}
                {% else %}
                  0
                {% endif %}
              </td>
              <td>
                {{ survey.egg1 + survey.egg2 + survey.egg3 }}
              </td>
              <td>
                {{ survey.surveyed }}%
              </td>
              <td>
                {{ survey.cameras|length }}
              </td>
              <td>
                {{ survey.surveyed_species|length }}
              </td>
              <td>
                {{ survey.recorded_species|length }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    No surveys to show
  {% endif %}
{% endblock %}

{% block js %}
  {{ super() }}
  <script>
    $(document).ready( function () {
      $('#table_id').DataTable({
        "columnDefs": [{ "orderable": false, "searchable": false, "targets": 0 }]
      });
    });
  </script>
{% endblock %}
