{% extends 'base.jinja2' %}

{% block title %}New Survey Camera{% endblock %}

{% block content_before %}
  New Survey Camera
{% endblock %}

{% block content %}
  {% include "surveys/camera/form.jinja2" %}
{% endblock %}
