{% extends 'base.jinja2' %}

{% block title %}Edit Surveyed Predator{% endblock %}

{% block content_before %}
  Edit Surveyed Predator
{% endblock %}

{% block content %}
  {% include "surveys/surveyed_predator/form.jinja2" %}
{% endblock %}
