{% extends 'base.jinja2' %}

{% block title %}Edit Surveyed Disturber{% endblock %}

{% block content_before %}
  Edit Surveyed Disturber
{% endblock %}

{% block content %}
  {% include "surveys/surveyed_predator/form.jinja2" %}
{% endblock %}
