{% extends 'base.jinja2' %}

{% block title %}Edit Species{% endblock %}

{% block content_before %}
  Edit Species
{% endblock %}

{% block content %}
  {% include "species/form.jinja2" %}
{% endblock %}
