{% extends 'base.jinja2' %}

{% block title %}Species{% endblock %}

{% block content_before %}
  Species
{% endblock %}

{% block content %}
  {% if current_user.is_authenticated %}
    <a href="{{ url_for('species.new') }}"
                      class="btn btn-primary"
                      role="button"
                      aria-disabled="true">
          New Species
        </a>
    <hr/>
  {% endif %}
  {% if species %}
  <div class='table-responsive'>
    <table class="table table-white table-striped table-bordered table-hover"
          id="table_id"
          data-order='[[ 1, "asc" ]]'
          data-page-length='25'>
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Species</th>
        <th scope="col">Classification</th>
        <th scope="col">Type</th>
        <th scope="col">Risk</th>
        <th scope="col">Group</th>
      </tr>
      </thead>
      <tbody>
        {% for species in species %}
          <tr>
            <td>
              {% if current_user.is_authenticated %}
                <a href="{{ url_for('species.edit', id=species.id) }}"
                  class="btn btn-primary btn-block"
                  role="button"
                  aria-disabled="true">
                  Edit
                </a>
              {% endif %}
            </td>
            <td>
              {{ species.species }}
            </td>
            <td>
              {% if species.classification %}
                {{ helper.sentence_case(species.classification) }}
              {% endif %}
            </td>
            <td>
              {% if species.species_type %}
                {{ helper.sentence_case(species.species_type) }}
              {% endif %}
            </td>
            <td>
              {% if species.risk %}
                {{ helper.sentence_case(species.risk) }}
              {% endif %}
            </td>
            <td>
              {% if species.group %}
                {{ helper.sentence_case(species.group) }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
    No Species to show
  {% endif %}
{% endblock %}

{% block js %}
  {{ super() }}
  <script>
    $(document).ready( function () {
      $('#table_id').DataTable({
        "columnDefs": [{ "orderable": false, "targets": 0 }]
      });
    });
  </script>
{% endblock %}
