{% extends 'base.jinja2' %}

{% block title %}Edit SD Card{% endblock %}

{% block content_before %}
  Edit SD Card
{% endblock %}

{% block content %}
  {% include "cards/form.jinja2" %}
{% endblock %}
