{% extends 'base.jinja2' %}

{% block title %}SD Cards{% endblock %}

{% block content_before %}

  <div class="jumbotron shadow-sm py-0">
    <div class="container">

      {# Text #}
      <div class="text-center">
        <span class="h3 mb-0"><br/>SD Cards<br/><br/></span>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}
<a href="{{ url_for('cards.new') }}"
                   class="btn btn-primary"
                   role="button"
                   aria-disabled="true">
      New SD Card
    </a>
    <hr/>
  {% if cards %}
  <table class="table table-white table-striped table-bordered table-hover"
         id="table_id"
         data-order='[[ 1, "asc" ]]'
         data-page-length='25'>
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Size</th>
    </tr>
    </thead>
    <tbody>
      {% for card in cards %}
        <tr>
          <td>
            <a href="{{ url_for('cards.edit', id=card.id) }}"
               class="btn btn-primary btn-block"
               role="button"
               aria-disabled="true">
              Edit Card
            </a>
          </td>
          <td>
            {{ card.name }}
          </td>
          <td>
            {{ card.size }}GB
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    No cards to show
  {% endif %}
{% endblock %}

{% block js %}
  {{ super() }}
  <script>
    $(document).ready( function () {
      $('#table_id').DataTable({
        "columnDefs": [{ "orderable": false, "searchable": false, "targets": 0 }]
      });
    });
  </script>
{% endblock %}
