{% extends 'base.jinja2' %}

{% block title %}New SD Card{% endblock %}

{% block content_before %}
  New SD Card
{% endblock %}

{% block content %}
  {% include "cards/form.jinja2" %}
{% endblock %}
