{% extends 'base.jinja2' %}

{% block title %}Edit Recorded Disturber{% endblock %}

{% block content_before %}
  Edit Recorded Disturber
{% endblock %}

{% block content %}
  {% include "surveys/recorded_predator/form.jinja2" %}
{% endblock %}
