{% extends 'base.jinja2' %}

{% block title %}New Recorded Predator{% endblock %}

{% block content_before %}
  New Recorded Predator
{% endblock %}

{% block content %}
  {% include "surveys/recorded_predator/form.jinja2" %}
{% endblock %}
