{% extends 'base.jinja2' %}

{% block title %}About{% endblock %}

{% block content_before %}

  <div class="jumbotron shadow-sm py-0">
    <div class="container">

      {# Text #}
      <div class="text-center">
        <span class="h3 mb-0"><br/>Interior Least Tern Data Collection<br/><br/></span>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}
  <div class='card mx-auto mt-5 shadow-sm'>
    <div class='card-header text-center'>
        This application was made in collaboration with a supportive boyfriend
    </div>
    <div class="card-body">
      <h4 class="text-center">Contributors</h4>
      <div class="row">
        <div class="col text-right">
          Aaron Kimbrell
        </div>
        <div class="col">
          Developer and Web Hosting
        </div>
      </div>
      <div class="row">
        <div class="col text-right">
          Carice Godbey
        </div>
        <div class="col">
          Head Researcher
        </div>
      </div>
      <div class="row">
        <div class="col text-right">
          Dr. Tom Nupp
        </div>
        <div class="col">
          Project Advisor
        </div>
      </div>
      <div class="row">
        <div class="col text-right">
          Arkansas Tech University
        </div>
        <div class="col">
          Funding and Collaborator
        </div>
      </div>
      <div class="row">
        <div class="col text-right">
          Trevor Jensen
        </div>
        <div class="col">
          Researcher
        </div>
      </div>
      <div class="row">
        <div class="col text-right">
          U.S. Army Corps of Engineers
        </div>
        <div class="col">
          Funding and Collaborator
        </div>
      </div>
      <div class="row">
        <div class="col text-right">
          Little Rock Air Force Base
        </div>
        <div class="col">
          Collaborator
        </div>
      </div>
      <div class="row">
        <div class="col text-right">
          Arkasas Game and Fish Commission
        </div>
        <div class="col">
          Collaborator
        </div>
      </div>
      <div class="row">
        <div class="col text-right">
          Rachael Miller
        </div>
        <div class="col">
          Technician
        </div>
      </div>
      <div class="row">
        <div class="col text-right">
          Caitlin Goldtrap
        </div>
        <div class="col">
          Technician
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col text-right">
          Source
        </div>
        <div class="col">
          <a href="https://github.com/aronwk-aaron/atu->
          Github
        </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
