{% extends 'base.jinja2' %}

{% block title %}Home{% endblock %}

{% block content_before %}

  <div class="jumbotron shadow-sm py-0">
    <div class="container">

      {# Text #}
      <div class="text-center">
        <span class="h3 mb-0"><br/>Interior Least Tern Data Collection</span>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header text-center">
      <h3 class="my-1">Synopsis</h3>
    </div>
    <div class="card-body">
      <div class="row text-center">
        <div class="col">
          put text here
        </div>
      </div>
    </div>
  </div>
{% endblock %}
