{% extends 'base.jinja2' %}

{% block title %}Home{% endblock %}

{% block content_before %}

  <div class="jumbotron shadow-sm py-0">
    <div class="container">

      {# Text #}
      <div class="text-center">
        <span class="h3 mb-0"><br/>Interior Least Tern Data Collection</span>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-header text-center">
      <h3 class="my-1">Synopsis</h3>
    </div>
    <div class="card-body">
      <div class="row text-center">
        <div class="col">
          Interior least terns (ILT) are an endangered shorebird that breeds seasonally along the Arkansas River. The surveillance of the ILT population along the Arkansas River has been the duty of Arkansas Tech University researchers since 2001. Continuing this work is the collaboration of graduate student Carice Godbey with Dr. Tom Nupp, interested in investigating the potential relationships between ILT breeding success, site features of the sandbars they breed on, and the predator distribution along the Arkansas River. This site's purpose is to serve as a data management system to help input, organize, and join the data collected by the 2020-2021 ATU ILT Project.
        </div>
      </div>
    </div>
  </div>
{% endblock %}
