{% extends 'base.jinja2' %}

{% block title %}Edit Surveyed Species{% endblock %}

{% block content_before %}
  Edit Surveyed Species
{% endblock %}

{% block content %}
  {% include "surveys/surveyed_species/form.jinja2" %}
{% endblock %}
