{% extends 'base.jinja2' %}

{% block title %}Edit Recorded Species{% endblock %}

{% block content_before %}
  Edit Recorded Species
{% endblock %}

{% block content %}
  {% include "surveys/recorded_species/form.jinja2" %}
{% endblock %}
