{% extends 'base.jinja2' %}

{% block title %}Overlapped things{% endblock %}

{% block content_before %}
  Overlapped things
{% endblock %}

{% block content %}
  <div class='table-responsive'>
    <table class="table table-white table-striped table-bordered table-hover"
          id="two_weeks"
          data-order='[[ 1, "asc" ]]'
          data-page-length='25'>
      <thead>

      </thead>
      <tbody>
        {% for row in data %}
          {% if loop.index == 1 %}
            <thead>
              {% for col in row %}
                <th scope="col">
                  {{ col }}
                </th>
              {% endfor %}
            </thead>
          {% else%}
            <tr>
              <td>
                {{ row[0] }}
              </td>
              <td>
                <a href="{{ url_for('surveys.edit_recorded_species', species_id=row[1].species.id, survey_id=row[1].survey_id, start=row[1].start, end=row[1].end) }}"
                  class="btn btn-primary"
                  role="button"
                  aria-disabled="true">
                  {{ row[1].species.species }}
                </a>
              </td>
              <td>
                <a href="{{ url_for('surveys.edit_recorded_species', species_id=row[2].species.id, survey_id=row[2].survey_id, start=row[2].start, end=row[2].end) }}"
                  class="btn btn-primary"
                  role="button"
                  aria-disabled="true">
                  {{ row[2].species.species }}
                </a>
              </td>

            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
