{% extends 'base.jinja2' %}

{% block title %}Edit Camera{% endblock %}

{% block content_before %}

  <div class="jumbotron shadow-sm py-0">
    <div class="container">

      {# Text #}
      <div class="text-center">
        <span class="h3 mb-0"><br/>Edit Camera<br/><br/></span>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}
  <form method=post>
    <dl>
        {% for field in form %}
          {{ helper.render_field(field)}}
        {% endfor %}
    </dl>
  </form>
{% endblock %}
