{% extends 'base.jinja2' %}

{% block title %}
  Edit Camera
{% endblock %}

{% block content_before %}
  Edit Camera
{% endblock %}

{% block content %}
  {% include "cameras/form.jinja2" %}
{% endblock %}
