{% extends 'base.jinja2' %}

{% block title %}Cameras{% endblock %}

{% block content_before %}
  Cameras
{% endblock %}

{% block content %}
  {% if current_user.is_authenticated %}
    <a href="{{ url_for('cameras.new') }}"
                      class="btn btn-primary"
                      role="button"
                      aria-disabled="true">
          New Camera
        </a>
      <hr/>
    {% endif %}
  {% if cameras %}
  <div class='table-responsive'>
    <table class="table table-white table-striped table-bordered table-hover"
          id="table_id"
          data-order='[[ 1, "asc" ]]'
          data-page-length='25'>
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Functional?</th>
        <th scope="col">Comment</th>
        <th scope="col">Season(s)</th>
      </tr>
      </thead>
      <tbody>
        {% for camera in cameras %}
          <tr>
            <td>
              {% if current_user.is_authenticated %}
                <a href="{{ url_for('cameras.edit', id=camera.id) }}"
                  class="btn btn-primary btn-block"
                  role="button"
                  aria-disabled="true">
                  Edit
                </a>
              {% endif %}
            </td>
            <td>
              {{ camera.name }}
            </td>
            <td>
              {{ helper.sentence_case(camera.brand) }}
            </td>
            <td class="text-center">
              {% if camera.functional %}
                Yes <h4 class="far fa-check-square text-success"></h4>
              {% else %}
                No <h4 class="far fa-times-circle text-danger"></h4>
              {% endif %}
            </td>
            <td>
              {{ camera.comment }}
            </td>
            <td>
              {% for year in camera.used%}
                {{ year }}<br>
              {% endfor%}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
    No Cameras to show
  {% endif %}
{% endblock %}

{% block js %}
  {{ super() }}
  <script>
    $(document).ready( function () {
      $('#table_id').DataTable({
        "columnDefs": [{ "orderable": false, "searchable": false, "targets": 0 }]
      });
    });
  </script>
{% endblock %}
