{% extends 'base.jinja2' %}

{% block title %}New Camera{% endblock %}

{% block content_before %}
  New Camera
{% endblock %}

{% block content %}
  {% include "cameras/form.jinja2" %}
{% endblock %}
