  <h3>Peak Season Report</h3>
  <hr>
  <div class='table-responsive'>
    <table class="table table-white table-striped table-bordered table-hover"
          id="two_weeks"
          data-order='[[ 0, "asc" ]]'
          data-page-length='25'>
      <thead>

      </thead>
      <tbody>
        {% for item in data %}
            {% if loop.first %}
                <thead>
                    <th scope="col">
                        {{ item[0] }}
                    </th>
                    <th scope="col">
                        {{ item[1] }}
                    </th>
                    <th scope="col">
                        {{ item[2] }}
                    </th>
                    <th scope="col">
                        {{ item[3] }}
                    </th>
                    <th scope="col">
                        {{ item[4] }}
                    </th>
                    <th scope="col">
                        {{ item[5] }}
                    </th>
                </thead>
            {% elif loop.last %}
                <tfoot>
                    <td>
                        {{ item[0] }}
                    </td>
                    <td>
                        {{ item[1] }}
                    </td>
                    <td>
                        {{ item[2] }}
                    </td>
                    <td>
                        {{ item[3] }}
                    </td>
                    <td>
                        {{ item[4]|round|int }}
                    </td>
                    <td>
                    </td>
                </tfoot>
            {% else %}
                <tr>
                    <td>
                        {{ item[0] }}
                    </td>
                    <td>
                        {{ item[1] }}
                    </td>
                    <td>
                        {{ item[2] }}
                    </td>
                    <td>
                        {{ item[3] }}
                    </td>
                    <td>
                        {{ item[4]|round|int }}
                    </td>
                    <td>
                        {% if item[5] %}
                            {{ item[5] }}
                        {% else %}
                            {{ item[6] }}
                        {% endif %}
                    </td>
                </tr>
            {% endif %}

        {% endfor %}
      </tbody>
    </table>
  </div>