<form method=post enctype="multipart/form-data">
  {{ form.csrf_token }}
  <div class="card shadow-sm mx-auto pb-3" style="width: 18rem;">
    <div class="card-body">
      {{ helper.render_field(form.file) }}
      {{ helper.render_submit_field(form.submit) }}
    </div>
  </div>
</form>
