{% extends 'base.jinja2' %}

{% block title %}Upload Image{% endblock %}

{% block content_before %}
  Upload Image
{% endblock %}

{% block content %}
  {% include "images/form.jinja2" %}
{% endblock %}
