{% extends 'base.jinja2' %}

{% block title %}Edit Survey{% endblock %}

{% block content_before %}

  <div class="jumbotron shadow-sm py-0">
    <div class="container">

      {# Text #}
      <div class="text-center">
        <span class="h3 mb-0"><br/>Edit Survey<br/><br/></span>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}
    <form method=post>
      {{ form.csrf_token }}
      <div class="row">
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-header">
              <h3 class="my-1">Date: {{ form.date }}</h3>
              {% if form.date.errors %}
                {% for e in form.date.errors %}
                    <p class="help-block text-danger">{{ e }}</p>
                {% endfor %}
              {% endif %}
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="{{ url_for('sites.edit', id = form.site_id) }}">
                Site:</a> {{ form.site }}
                {% if form.site.errors %}
                  {% for e in form.site.errors %}
                    <p class="help-block text-danger">{{ e }}</p>
                  {% endfor %}
                {% endif %}
              </li>
              <li class="list-group-item">
                Crew: {{ form.crew }}
                {% if form.crew.errors %}
                  {% for e in form.crew.errors %}
                    <p class="help-block text-danger">{{ e }}</p>
                  {% endfor %}
                {% endif %}
              </li>
              <li class="list-group-item">
                Time In: {{ form.time_in }}
                {% if form.time_in.errors %}
                  {% for e in form.time_in.errors %}
                    <p class="help-block text-danger">{{ e }}</p>
                  {% endfor %}
                {% endif %}
              </li>
              <li class="list-group-item">
                Time Out: {{ form.time_out }}
                {% if form.time_out.errors %}
                  {% for e in form.time_out.errors %}
                    <p class="help-block text-danger">{{ e }}</p>
                  {% endfor %}
                {% endif %}
              </li>
              <li class="list-group-item">
                Surveyed %: {{ form.precentage_surveyed }}%
                {% if form.precentage_surveyed.errors %}
                  {% for e in form.precentage_surveyed.errors %}
                    <p class="help-block text-danger">{{ e }}</p>
                  {% endfor %}
                {% endif %}
              </li>
              <li class="list-group-item">
                Method: {{ form.method }}
                {% if form.method.errors %}
                  {% for e in form.method.errors %}
                    <p class="help-block text-danger">{{ e }}</p>
                  {% endfor %}
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h3 class="my-1">ILT Counts</h3>
            </div>
            <div class="card-body">
              <div class='row mt-1'>
                <div class='col text-right'>
                    Adults Count 1:
                </div>
                <div class='col'>
                  {{ form.ac1 }}
                  {% if form.ac1.errors %}
                    {% for e in form.ac1.errors %}
                      <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class='row mt-1'>
                <div class='col text-right'>
                    Adults Count 2:
                </div>
                <div class='col'>
                  {{ form.ac2 }}
                  {% if form.ac2.errors %}
                    {% for e in form.ac2.errors %}
                      <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class='row mt-1'>
                <div class='col text-right'>
                    Adults Count 3:
                </div>
                <div class='col'>
                  {{ form.ac3 }}
                  {% if form.ac3.errors %}
                    {% for e in form.ac3.errors %}
                      <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class='row mt-1'>
                <div class='col text-right'>
                    Scrapes:
                </div>
                <div class='col'>
                  {{ form.scrape }}
                  {% if form.scrape.errors %}
                    {% for e in form.scrape.errors %}
                      <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class='row mt-1'>
                <div class='col text-right'>
                    Nests w/ 1 egg:
                </div>
                <div class='col'>
                  {{ form.egg1 }}
                  {% if form.egg1.errors %}
                    {% for e in form.egg1.errors %}
                      <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class='row mt-1'>
                <div class='col text-right'>
                    Nests w/ 2 egg:
                </div>
                <div class='col'>
                  {{ form.egg2 }}
                  {% if form.egg2.errors %}
                    {% for e in form.egg2.errors %}
                      <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class='row mt-1'>
                <div class='col text-right'>
                    Nests w/ 3 egg:
                </div>
                <div class='col'>
                  {{ form.egg3 }}
                  {% if form.egg3.errors %}
                    {% for e in form.egg3.errors %}
                      <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class='row mt-1'>
                <div class='col text-right'>
                   Chicks 0-2:
                </div>
                <div class='col'>
                  {{ form.chick02 }}
                  {% if form.chick02.errors %}
                    {% for e in form.chick02.errors %}
                      <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class='row mt-1'>
                <div class='col text-right'>
                   Chicks 3-9:
                </div>
                <div class='col'>
                  {{ form.chick39 }}
                  {% if form.chick39.errors %}
                    {% for e in form.chick39.errors %}
                      <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class='row mt-1'>
                <div class='col text-right'>
                   Chicks 10-17:
                </div>
                <div class='col'>
                  {{ form.chick1017 }}
                  {% if form.chick1017.errors %}
                    {% for e in form.chick1017.errors %}
                      <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class='row mt-1'>
                <div class='col text-right'>
                   Fledglings:
                </div>
                <div class='col'>
                  {{ form.fledgling }}
                  {% if form.fledgling.errors %}
                    {% for e in form.fledgling.errors %}
                      <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-header">
              <h3 class="my-1">Egg Floats</h3>
            </div>
            <div class="card-body">
              <div class='row mt-1'>
                <div class='col text-right'>
                  1:
                </div>
                <div class='col'>
                  {{ form.ef1 }}
                  {% if form.ef1.errors %}
                    {% for e in form.ef1.errors %}
                      <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class='row mt-1'>
                <div class='col text-right'>
                  2:
                </div>
                <div class='col'>
                  {{ form.ef2 }}
                  {% if form.ef2.errors %}
                    {% for e in form.ef2.errors %}
                      <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class='row mt-1'>
                <div class='col text-right'>
                  3:
                </div>
                <div class='col'>
                  {{ form.ef3 }}
                  {% if form.ef3.errors %}
                    {% for e in form.ef3.errors %}
                      <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class='row mt-1'>
                <div class='col text-right'>
                  4:
                </div>
                <div class='col'>
                  {{ form.ef4 }}
                  {% if form.ef4.errors %}
                    {% for e in form.ef4.errors %}
                      <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-header">
              <h3 class="my-1">Variable Site Characteristics</h3>
            </div>
            <div class="card-body">
              <h4 class='card-title'>
                Course Woody Debris
              </h4>
              <div class='row mt-1'>
                <div class='col text-right'>
                   Nest 1:
                </div>
                <div class='col'>
                  {{ form.cwdn1 }}
                  {% if form.cwdn1.errors %}
                    {% for e in form.cwdn1.errors %}
                      <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class='row mt-1'>
                <div class='col text-right'>
                   Nest 2:
                </div>
                <div class='col'>
                  {{ form.cwdn2 }}
                  {% if form.cwdn2.errors %}
                    {% for e in form.cwdn2.errors %}
                      <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class='row mt-1'>
                <div class='col text-right'>
                   Nest 3:
                </div>
                <div class='col'>
                  {{ form.cwdn3 }}
                  {% if form.cwdn3.errors %}
                    {% for e in form.cwdn3.errors %}
                      <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class='row mt-1'>
                <div class='col text-right'>
                   Logs:
                </div>
                <div class='col'>
                  {{ form.cwdlog }}
                  {% if form.cwdlog.errors %}
                    {% for e in form.cwdlog.errors %}
                      <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <hr/>
              <h4 class='card-title'>
                Vegetation
              </h4>
              <div class='row mt-1'>
                <div class='col text-right'>
                    Primary Vegetation:
                </div>
                <div class='col'>
                  {{ form.primary_vegitation }}
                  {% if form.primary_vegitation.errors %}
                    {% for e in form.primary_vegitation.errors %}
                      <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class='row mt-1'>
                <div class='col text-right'>
                   Precentage:
                </div>
                <div class='col'>
                  {{ form.precentage_primary_vegitation }} %
                  {% if form.precentage_primary_vegitation.errors %}
                    {% for e in form.precentage_primary_vegitation.errors %}
                      <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <hr/>
              <h4 class='card-title'>
                Water Analysis
              </h4>
              <div class='row mt-1'>
                <div class='col text-right'>
                    Water Temperature:
                </div>
                <div class='col'>
                  {{ form.water_temp }} °C
                  {% if form.water_temp.errors %}
                    {% for e in form.water_temp.errors %}
                      <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class='row mt-1'>
                <div class='col text-right'>
                    Ambient Temperature:
                </div>
                <div class='col'>
                  {{ form.ambient_temp }} °C
                  {% if form.ambient_temp.errors %}
                    {% for e in form.ambient_temp.errors %}
                      <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class='row mt-1'>
                <div class='col text-right'>
                    % Disolved Oxygen:
                </div>
                <div class='col'>
                  {{ form.precentage_disolved_oxygen }} %
                  {% if form.precentage_disolved_oxygen.errors %}
                    {% for e in form.precentage_disolved_oxygen.errors %}
                      <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class='row mt-1'>
                <div class='col text-right'>
                   Salinity:
                </div>
                <div class='col'>
                  {{ form.salinity }} ppt
                  {% if form.salinity.errors %}
                    {% for e in form.salinity.errors %}
                      <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class='row mt-1'>
                <div class='col text-right'>
                    Specific Conductance:
                </div>
                <div class='col' style="width: 25%">
                  {{ form.specific_conductance }} µS/cm at 25 °C
                  {% if form.specific_conductance.errors %}
                    {% for e in form.specific_conductance.errors %}
                      <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class='row mt-1'>
                <div class='col text-right'>
                   Conductivity:
                </div>
                <div class='col'>
                  {{ form.conductivity }} µs/cm
                  {% if form.conductivity.errors %}
                    {% for e in form.conductivity.errors %}
                      <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
              <hr/>
              <h4 class='card-title'>
                Island Characteristics
              </h4>
              <div class='row'>
                <div class='col text-right'>
                  Size:
                </div>
                <div class='col'>
                  {{ form.size_type }}
                  {% if form.size_type.errors %}
                    {% for e in form.size_type.errors %}
                      <p class="help-block text-danger">{{ e }}</p>
                    {% endfor %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <div class="card shadow-sm">
            <div class='card-body'>
              {{ helper.render_field(form.comment) }}
            </div>
          <div>
        </div>
      </div>
      <hr/>
      {{ helper.render_submit_field(form.submit, class='btn-block') }}
    </form>
{% endblock %}
