{% extends 'base.jinja2' %}

{% block title %}
  Edit Survey
{% endblock %}

{% block content_before %}
  Edit Survey
{% endblock %}

{% block content %}
  {% include "surveys/form.jinja2" %}
{% endblock %}
