{% extends 'base.jinja2' %}

{% block title %}Surveys{% endblock %}

{% block content_before %}
  Surveys
{% endblock %}

{% block content %}
<a href="{{ url_for('surveys.new') }}"
                   class="btn btn-primary"
                   role="button"
                   aria-disabled="true">
      New Survey
    </a>
    <hr/>
  {% if surveys %}
  <div class='table-responsive'>
    <table class="table table-white table-striped table-bordered table-hover"
          id="table_id"
          data-order='[[ 1, "asc" ]]'
          data-page-length='25'>
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Date</th>
        <th scope="col">Site</th>
        <th scope="col">Avg Adult Count</th>
        <th scope="col">Nests w/ Eggs</th>
        <th scope="col">% Surveyed</th>
        <th scope="col">Cameras</th>
        <th scope="col">Surveyed Predators</th>
        <th scope="col">Recorded Predators</th>
      </tr>
      </thead>
      <tbody>
        {% for survey in surveys %}
          <tr>
            <td>
              <a href="{{ url_for('surveys.view', id=survey.id) }}"
                class="btn btn-primary btn-block"
                role="button"
                aria-disabled="true">
                View
              </a>
              <br/>
              <a href="{{ url_for('surveys.edit', id=survey.id) }}"
                class="btn btn-primary btn-block"
                role="button"
                aria-disabled="true">
                Edit
              </a>
            </td>
            <td>
              {{ survey.date }}
            </td>
            <td>
              {{ survey.site.name }}
            </td>
            <td>
              {% set count=0 %}
              {% if survey.ac1 > 0 %}
                {% set count=count+1 %}
              {% endif %}
              {% if survey.ac2 > 0 %}
                {% set count=count+1 %}
              {% endif %}
              {% if survey.ac3 > 0 %}
                {% set count=count+1 %}
              {% endif %}
              {% if count > 0 %}
                {{ ((survey.ac1 + survey.ac2 + survey.ac3)/count)|round(1, 'floor') }}
              {% else %}
                0
              {% endif %}
            </td>
            <td>
              {{ survey.egg1 + survey.egg2 + survey.egg3 }}
            </td>
            <td>
              {{ survey.surveyed }}
            </td>
            <td>
              {{ survey.cameras|length }}
            </td>
            <td>
              {{ survey.survey_predators|length }}
            </td>
            <td>
              {{ survey.recorded_predators|length }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
    No surveys to show
  {% endif %}
{% endblock %}

{% block js %}
  {{ super() }}
  <script>
    $(document).ready( function () {
      $('#table_id').DataTable({
        "columnDefs": [{ "orderable": false, "searchable": false, "targets": 0 }]
      });
    });
  </script>
{% endblock %}
