{% extends 'base.jinja2' %}

{% block title %}New Survey{% endblock %}

{% block content_before %}
  New Survey
{% endblock %}

{% block content %}
  {% include "surveys/form.jinja2" %}
{% endblock %}
