{% extends 'base.jinja2' %}

{% block title %}Survey{% endblock %}

{% block content_before %}

  <div class="jumbotron shadow-sm py-0">
    <div class="container">

      {# Text #}
      <div class="text-center">
        <span class="h3 mb-0"><br/>Survey<br/><br/></span>
      </div>
    </div>
  </div>

{% endblock %}

{% block content %}    
    <div class="row justify-content-start">
      <div class="col-6 col-sm-3">
        <h3>Cameras</h3>
      </div>
      <div class="col-6 col-sm-3">
        <a href="{{ url_for('surveys.new_camera', survey_id=survey.id) }}"
                  class="btn btn-primary btn-block"
                  role="button"
                  aria-disabled="true">
          New Camera
        </a>
      </div>
    </div>
    {% if cameras %}
    <div class='table-responsive'>
      <table class="table table-white table-striped table-bordered table-hover"
              id="camera_table_id"
              data-order='[[ 1, "asc" ]]'
              data-page-length='25'>
          <thead>
          <tr>
          <th scope="col">Camera</th>
          <th scope="col">Card In</th>
          <th scope="col">Card Out</th>
          <th scope="col">Cleared Out Card</th>
          <th scope="col">Changed Battery</th>
          <th scope="col">Functional</th>
          <th scope="col">Comment</th>
          <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          {% for camera in cameras %}
              <tr>
              <td>
                  {{ camera.camera.name }}
              </td>
              <td>
                  {{ camera.card_in.name }}
              </td>
              <td>
                  {{ camera.card_out.name }}
              </td>
              <td>
                  {{ camera.cleared }}
              </td>
              <td>
                  {{ camera.ch_bat }}
              </td>
              <td>
                  {{ camera.functional }}
              </td>
              <td>
                  {{ camera.comment }}
              </td>
              <td>
                  <a href="{{ url_for('surveys.edit_camera', survey_id=survey.id, camera_id=camera.camera.id) }}"
                  class="btn btn-primary"
                  role="button"
                  aria-disabled="true">
                      Edit
                  </a>
              </td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
  {% else %}
    No cameras to show
  {% endif %}
    <hr/>
    <div class="row justify-content-start">
      <div class="col-6 col-sm-3">
        <h3>Survey Predators</h3>
      </div>
      <div class="col-6 col-sm-3">
        <a href="{{ url_for('surveys.new_surveyed_predator', survey_id=survey.id) }}"
                   class="btn btn-primary btn-block"
                   role="button"
                   aria-disabled="true">
          New Surveyed Predator
        </a>
      </div>
    </div>
    {% if surveyed_predators %}
    <div class='table-responsive'>
      <table class="table table-white table-striped table-bordered table-hover"
              id="sp_table_id"
              data-order='[[ 1, "asc" ]]'
              data-page-length='25'>
          <thead>
          <tr>
          <th scope="col">Species</th>
          <th scope="col">Sighting Type</th>
          <th scope="col">Count</th>
          <th scope="col">Comment</th>
          <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          {% for surveyed_predator in surveyed_predators %}
              <tr>
              <td>
                  {{ surveyed_predator.predator.species }}
              </td>
              <td class="text-center">
                {% if surveyed_predator.sighting %}
                  <div class='mb-1'>Saw<br/></div>
                {% endif %}
                {% if surveyed_predator.scat %}
                  <div class='mb-1'>Scat<br/></div>
                {% endif %}
                {% if surveyed_predator.chick_mort %}
                  <div class='mb-1'>Chick Mortality<br/></div>
                {% endif %}
                {% if surveyed_predator.adult_mort %}
                  <div class='mb-1'>Adult Mortality<br/></div>
                {% endif %}
                {% if surveyed_predator.nest_dest %}
                  <div class='mb-1'>Nest Destruction<br/></div>
                {% endif %}
              </td>
              <td>
                  {{ surveyed_predator.count }}
              </td>
              <td>
                  {{ surveyed_predator.comment }}
              </td>
              <td>
                  <a href="{{ url_for('surveys.edit_surveyed_predator', survey_id=survey.id, predator_id=surveyed_predator.predator.id) }}"
                  class="btn btn-primary"
                  role="button"
                  aria-disabled="true">
                      Edit
                  </a>
              </td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
  {% else %}
    No Surveyed Predators to show
  {% endif %}
    <hr/>
    <div class="row justify-content-start">
      <div class="col-6 col-sm-3">
        <h3>Recorded Predators</h3>
      </div>
      <div class="col-6 col-sm-3">
        <a href="{{ url_for('surveys.new_recorded_predator', survey_id=survey.id) }}"
                   class="btn btn-primary btn-block"
                   role="button"
                   aria-disabled="true">
          New Recorded Predator
        </a>
      </div>
    </div>
    {% if recorded_predators %}
    <div class='table-responsive'>
      <table class="table table-white table-striped table-bordered table-hover"
              id="rp_table_id"
              data-order='[[ 1, "asc" ]]'
              data-page-length='25'>
          <thead>
          <tr>
          <th scope="col">Species</th>
          <th scope="col">Start Time</th>
          <th scope="col">End Time</th>
          <th scope="col">Count</th>
          <th scope="col">Scat?</th>
          <th scope="col">Adult Mortality?</th>
          <th scope="col">Chick Mortality?</th>
          <th scope="col">Nest Destruction?</th>
          <th scope="col">Comments</th>
          <th scope="col"></th>
          </tr>
          </thead>
          <tbody>
          {% for recorded_predator in recorded_predators %}
              <tr>
              <td>
                  {{ recorded_predator.predator.species }}
              </td>
              <td>
                  {{ recorded_predator.start }}
              </td>
              <td>
                  {{ recorded_predator.end }}
              </td>
              <td>
                  {{ recorded_predator.count }}
              </td>
              <td>
                  {{ recorded_predator.scat }}
              </td>
              <td>
                  {{ recorded_predator.adult_mort }}
              </td>
              <td>
                  {{ recorded_predator.chick_mort }}
              </td>
              <td>
                  {{ recorded_predator.nest_dest }}
              </td>
              <td>
                  {{ recorded_predator.comment }}
              </td>
              <td>
                  <a href="{{ url_for('surveys.edit_recorded_predator', predator_id=recorded_predator.predator.id, survey_id=survey.id, start=recorded_predator.start, end=recorded_predator.end) }}"
                  class="btn btn-primary"
                  role="button"
                  aria-disabled="true">
                      Edit
                  </a>
              </td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
  {% else %}
    No Recorded Predators to show
  {% endif %}
    <hr/>
    <div class="row">
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-header">
            <h3 class="my-1">Date: {{ survey.date }}</h3>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="{{ url_for('sites.view', id = survey.site_id) }}">Site:</a> {{ survey.site.name }}</li>
            <li class="list-group-item">Crew: {{ survey.crew }}</li>
            <li class="list-group-item">Time In: {{ survey.time_in }}</li>
            <li class="list-group-item">Time Out: {{ survey.time_out }}</li>
            <li class="list-group-item">Surveyed %: {{ survey.surveyed }}%</li>
            <li class="list-group-item">Method: {{ survey.method }}</li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h3 class="my-1">ILT Counts</h3>
          </div>
          <div class="card-body">
            <div class='row'>
              <div class='col text-right'>
                Adults:
              </div>
              <div class='col'>
                {{ survey.ac1 }}, {{ survey.ac2 }}, {{ survey.ac3 }}
              </div>
              <div class='col text-right'>
                Avg:
              </div>
              <div class='col'>
                {{ ((survey.ac1 + survey.ac2 + survey.ac3)/3)|round(1, 'floor') }}
              </div>
            </div>
            <hr/>
            <div class='row'>
              <div class='col text-right'>
                Scrapes:
              </div>
              <div class='col'>
                {% if survey.scrape %}
                  Yes
                {% else %}
                  No
                {% endif %}
              </div>
            </div>
            <div class='row'>
              <div class='col text-right'>
                Nests w/ 1 egg:
              </div>
              <div class='col'>
                {{ survey.egg1 }}
              </div>
            </div>
            <div class='row'>
              <div class='col text-right'>
                Nests w/ 2 egg:
              </div>
              <div class='col'>
                {{ survey.egg2 }}
              </div>
            </div>
            <div class='row'>
              <div class='col text-right'>
                Nests w/ 3 egg:
              </div>
              <div class='col'>
                {{ survey.egg3 }}
              </div>
            </div>
            <div class='row'>
              <div class='col text-right'>
                Chicks 0-2:
              </div>
              <div class='col'>
                {{ survey.chick02 }}
              </div>
            </div>
            <div class='row'>
              <div class='col text-right'>
                Chicks 3-9:
              </div>
              <div class='col'>
                {{ survey.chick39 }}
              </div>
            </div>
            <div class='row'>
              <div class='col text-right'>
                Chicks 10-17:
              </div>
              <div class='col'>
                {{ survey.chick1017 }}
              </div>
            </div>
            <div class='row'>
              <div class='col text-right'>
                Fledglings:
              </div>
              <div class='col'>
                {{ survey.fledgling }}
              </div>
            </div>
            <hr/>
            <div class='row'>
             <div class='col text-right'>
              Egg Float
            </div>
              <div class='col'>
                {{ survey.ef1 }}, {{ survey.ef2 }}, {{ survey.ef3 }}, {{ survey.ef4 }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <div class="card shadow-sm">
          <div class="card-header">
            <h3 class="my-1">Variable Site Characteristics</h3>
          </div>
          <div class="card-body">
            <h4 class='card-title'>
              Course Woody Debris
            </h4>
            <div class='row'>
              <div class='col text-right'>
                Nest 1:
              </div>
              <div class='col'>
                {{ survey.cwdn1 }}
              </div>
            </div>
            <div class='row'>
              <div class='col text-right'>
                Nest 2:
              </div>
              <div class='col'>
                {{ survey.cwdn2 }}
              </div>
            </div>
            <div class='row'>
              <div class='col text-right'>
                Nest 3:
              </div>
              <div class='col'>
                {{ survey.cwdn3 }}
              </div>
            </div>
            <div class='row'>
              <div class='col text-right'>
                Logs:
              </div>
              <div class='col'>
                {{ survey.cwdlog }}
              </div>
            </div>
            <hr/>
            <h4 class='card-title'>
              Vegetation
            </h4>
            <div class='row'>
              <div class='col text-right'>
                Primary Vegetation:
              </div>
              <div class='col'>
                {{ helper.sentence_case(survey.pveg) }}
              </div>
            </div>
            {% if survey.pveg != "None" %}
              <div class='row'>
                <div class='col text-right'>
                  Precentage:
                </div>
                <div class='col'>
                  {{ survey.perc_pveg }}
                </div>
              </div>
            {% endif %}
            <hr/>
            <h4 class='card-title'>
              Water Analysis
            </h4>
            <div class='row'>
              <div class='col text-right'>
                Water Temperature:
              </div>
              <div class='col'>
                {% if survey.w_temp  %}
                  {{ survey.w_temp }} °C
                {% else %}
                  No Data
                {% endif %}
              </div>
            </div>
            <div class='row'>
              <div class='col text-right'>
                Ambient Temperature:
              </div>
              <div class='col'>
                {% if survey.a_temp %}
                  {{ survey.a_temp }} °C
                {% else %}
                  No Data
                {% endif %}
              </div>
            </div>
            <div class='row'>
              <div class='col text-right'>
                % Disolved Oxygen:
              </div>
              <div class='col'>
                {% if survey.perc_dio %}
                  {{ survey.perc_dio }} %
                {% else %}
                  No Data
                {% endif %}
              </div>
            </div>
            <div class='row'>
              <div class='col text-right'>
                Salinity:
              </div>
              <div class='col'>
                {% if survey.sal %}
                  {{ survey.sal }} ppt
                {% else %}
                  No Data
                {% endif %}
              </div>
            </div>
            <div class='row'>
              <div class='col text-right'>
                Specific Conductance:
              </div>
              <div class='col'>
                {% if survey.sp_condu %}
                  {{ survey.sp_condu }} µS/cm at 25 °C
                {% else %}
                  No Data
                {% endif %}
              </div>
            </div>
            <div class='row'>
              <div class='col text-right'>
                Conductivity:
              </div>
              <div class='col'>
                {% if survey.condu %}
                  {{ survey.condu }} µs/cm
                {% else %}
                  No Data
                {% endif %}
              </div>
            </div>
            <hr/>
            <div class='row'>
              <div class='col text-right'>
                Size:
              </div>
              <div class='col'>
                {% if survey.size_type == 1 %}
                  Small
                {% elif survey.size_type == 2 %}
                 Medium
                {% else %}
                 Large
                {% endif%}
              </div>
            </div>
          </div>
        </div>
      </div>
     <div class="col">
        <div class="card shadow-sm">
          <div class="card-header">
            <h3 class="my-1">Comments</h3>
          </div>
          <div class="card-body">
            {{ survey.comment }}
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <a href="{{ url_for('surveys.edit', id=survey.id) }}"
                   class="btn btn-primary btn-lg btn-block"
                   role="button"
                   aria-disabled="true">
          Edit
        </a>
{% endblock %}
  
{% block js %}
  {{ super() }}
  <script>
    $(document).ready( function () {
      $('#camera_table_id').DataTable({
        "columnDefs": [{ "orderable": false, "searchable": false, "targets": 7 }]
      });
    });
    $(document).ready( function () {
      $('#sp_table_id').DataTable({
        "columnDefs": [{ "orderable": false, "searchable": false, "targets": 4 }]
      });
    });
    $(document).ready( function () {
      $('#rp_table_id').DataTable({
        "columnDefs": [{ "orderable": false, "searchable": false, "targets": 9 }]
      });
    });
  </script>
{% endblock %}
