{% extends 'base.jinja2' %}

{% block title %}Edit Disturber{% endblock %}

{% block content_before %}
  Edit Disturber
{% endblock %}

{% block content %}
  {% include "predators/form.jinja2" %}
{% endblock %}
