{% extends 'base.jinja2' %}

{% block title %}Disturbers{% endblock %}

{% block content_before %}
  Disturbers
{% endblock %}

{% block content %}
<a href="{{ url_for('predators.new') }}"
                   class="btn btn-primary"
                   role="button"
                   aria-disabled="true">
      New Disturber
    </a>
    <hr/>
  {% if predators %}
  <div class='table-responsive'>
    <table class="table table-white table-striped table-bordered table-hover"
          id="table_id"
          data-order='[[ 1, "asc" ]]'
          data-page-length='25'>
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Species</th>
        <th scope="col">Type</th>
        {# <th scope="col">Volatility</th> #}
      </tr>
      </thead>
      <tbody>
        {% for predator in predators %}
          <tr>
            <td>
              <a href="{{ url_for('predators.edit', id=predator.id) }}"
                class="btn btn-primary btn-block"
                role="button"
                aria-disabled="true">
                Edit
              </a>
            </td>
            <td>
              {{ predator.species }}
            </td>
            <td>
              {{ helper.sentence_case(predator.predator_type) }}
            </td>
            {# <td>
              {% if predator.volatility %}
                {{ predator.volatility }}
              {% endif %}
            </td> #}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
    No Disturbers to show
  {% endif %}
{% endblock %}

{% block js %}
  {{ super() }}
  <script>
    $(document).ready( function () {
      $('#table_id').DataTable({
        "columnDefs": [{ "orderable": false, "targets": 0 }]
      });
    });
  </script>
{% endblock %}
