{% extends 'base.jinja2' %}

{% block title %}New Predator{% endblock %}

{% block content_before %}
  New Disturber
{% endblock %}

{% block content %}
  {% include "predators/form.jinja2" %}
{% endblock %}
