<div class='container mt-4'>
  Total Time Recorded by Cameras: {{ survey_camera_data.time_recorded }}<br/>
  Cameras w/ No Time Entered: {{ survey_camera_data.no_time }}<br/>
  Total Camera Failures: {{ survey_camera_data.failures }}
</div>
