{% extends 'base.jinja2' %}

{% block title %}Statistics{% endblock %}

{% block content_before %}
  Statistics
{% endblock %}

{% block content %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="sites-tab" data-toggle="tab" href="#sites" role="tab" aria-controls="sites" aria-selected="true">Sites</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="surveys-tab" data-toggle="tab" href="#surveys" role="tab" aria-controls="surveys" aria-selected="flase">Surveys</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="cameras-tab" data-toggle="tab" href="#cameras" role="tab" aria-controls="cameras" aria-selected="false">Cameras</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="predators-tab" data-toggle="tab" href="#predators" role="tab" aria-controls="predators" aria-selected="false">Disturbers</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="sites" role="tabpanel" aria-labelledby="sites-tab">
    {% include "stats/sites.jinja2" %}
  </div>
  <div class="tab-pane fade show" id="surveys" role="tabpanel" aria-labelledby="surveys-tab">
    {% include "stats/surveys.jinja2" %}
  </div>
  <div class="tab-pane fade" id="cameras" role="tabpanel" aria-labelledby="cameras-tab">
    {% include "stats/cameras.jinja2" %}
  </div>
  <div class="tab-pane fade" id="predators" role="tabpanel" aria-labelledby="predators-tab">
    {% include "stats/predators.jinja2" %}
  </div>
</div>
{% endblock %}