{% extends 'base.jinja2' %}

{% block title %}Disturber Statistics{% endblock %}

{% block content_before %}
  Disturber Statistics
{% endblock %}

{% block content %}
<div class='container mt-4'>
  <div class='row'>
    <div class='col text-right'>
      Surveyed Prevalence
    </div>
    <div class='col'>
      {% for item in predator_data['surveyed_prevalence'] %}
        <div class='row'>
        <div class='col text-right'>
          {{ item[0] }}:
        </div>
        <div class='col'>
          {{ item[1] }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
<hr/>
  <div class='row'>
    <div class='col text-right'>
      Surveyed Frequency
    </div>
    <div class='col'>
      {% for item in predator_data['surveyed_abundance'] %}
        <div class='row'>
        <div class='col text-right'>
          {{ item[0] }}:
        </div>
        <div class='col'>
          {{ item[1] }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
<hr/>
  <div class='row'>
    <div class='col text-right'>
      Recorded Prevalence
    </div>
    <div class='col'>
      {% for item in predator_data['recorded_prevalence'] %}
        <div class='row'>
        <div class='col text-right'>
          {{ item[0] }}:
        </div>
        <div class='col'>
          {{ item[1] }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
<hr/>
  <div class='row'>
    <div class='col text-right'>
      Recorded Frequency
    </div>
    <div class='col'>
      {% for item in predator_data['recorded_abundance'] %}
        <div class='row'>
        <div class='col text-right'>
          {{ item[0] }}:
        </div>
        <div class='col'>
          {{ item[1] }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
<hr/>
  <div class='row'>
    <div class='col text-right'>
      Recorded Duration
    </div>
    <div class='col'>
      {% for item in predator_data['recorded_duration'] %}
        <div class='row'>
        <div class='col text-right'>
          {{ item[0] }}:
        </div>
        <div class='col'>
          {{ item[1] }} hours
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock  %}
