{% extends 'base.jinja2' %}

{% block title %}Site Summary{% endblock %}

{% block content_before %}
  Site <-> Species Summary: {{ year }}
{% endblock %}

{% block content %}
  <div>
    times are in hours
  </div>

  <div class='table-responsive'>
    <table class="table table-white table-striped table-bordered table-hover"
          id="two_weeks"
          data-order='[[ 1, "asc" ]]'
          data-page-length='25'>
      <thead>

      </thead>
      <tbody>
        {% for site in data %}
          {% if loop.index == 1 %}
            <thead>
              {% for item in site %}
                <th scope="col">
                  {{ item }}
                </th>
              {% endfor %}
            </thead>
          {% else%}
            <tr>
              {% for item in site %}
                <td>
                  {{ item }}
                </td>
              {% endfor %}
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
