{% extends 'base.jinja2' %}

{% block title %}Site <-> {{ data_set }} {{ by }} {{ data_type }}: {{ year }}{% endblock %}

{% block content_before %}
  Site <-> {{ data_set }} {{ by }} {{ data_type }}: {{ year }}
  {% if title %}
    <br/>
    {{ title }}
  {% endif %}
{% endblock %}

{% block content %}
  {% if data_set == "Recorded"%}
    <h2 class="text-center">By Elapsed Time (in minutes)</h2>
    <hr/>
    {% with data=by_time %}
      {% include "stats/generic_table.jinja2" %}
    {% endwith %}
    <hr/>
  {% endif %}
  <h2 class="text-center">By Count</h2>
  <hr/>
  {% with data=by_count %}
    {% include "stats/generic_table.jinja2" %}
  {% endwith %}
  <hr/>
  <h2 class="text-center">By Occurence</h2>
  <hr/>
  {% with data=by_occ %}
    {% include "stats/generic_table.jinja2" %}
  {% endwith %}
{% endblock %}
