{% extends 'base.jinja2' %}

{% block title %}Site <-> Species Summary: {{ year }}{% endblock %}

{% block content_before %}
  Site <-> Species Summary: {{ year }}
{% endblock %}

{% block content %}
  <div>
    times are in hours
  </div>

  {% include "stats/generic_table.jinja2" %}
{% endblock %}
