{% extends 'base.jinja2' %}

{% block title %}Site Statistics{% endblock %}

{% block content_before %}
  Site <-> Animal Statistics: {{ year }}
{% endblock %}

{% block content %}
  <div>
    # 0: Site --> Table with site name<br>
    # 1: OPSF --> number of species of observed predators total at sandbar,<br>
    # 2: RPSF --> number of species of recorded predators total at sandbar,<br>
    # 3: ODSF --> number of species of observed disturbed total at sandbar,<br>
    # 4: RDSF --> number of species of recorded disturbers total at sandbar,<br>
    # 5: Totlap --> total elapsed time of all species recorded on sandbar, ///// Sum of 6 and 7<br>
    # 6: Plap --> total elapsed time of just predators on sandbar<br>
    # 7: Dlap --> Total elapsed time of just disturbers on sandbar<br>
    # 8: M_Pocc --> The predator with the most reoccurences across time at sandbar<br>
    # 9: M_Plap --> The predator with the longest elapsed time at sandbar<br>
    # 10: M_Pcnt --> The predator with the highest summed count of individuals across time at the sandbar<br>
    # 11: M_Docc --> The disturber with the most reoccurences across time at sandbar<br>
    # 12: M_Dlap --> The disturber with the longest elapsed time at sandbar<br>
    # 13: M_Dcnt --> The disturber with the highest summed count of individuals across time at the sandbar<br>
    # 14: Cam_survey --> Count of how many surveys we have camera data for (count possible 0-4)<br>
    # 15: SD_cards_out --> number of SD cards take out (count possible 0-8)<br>
  </div>

  <div class='table-responsive'>
    <table class="table table-white table-striped table-bordered table-hover"
          id="two_weeks"
          data-order='[[ 1, "asc" ]]'
          data-page-length='25'>
      <thead>

      </thead>
      <tbody>
        {% for site in data %}
          {% if loop.index == 1 %}
            <thead>
              {% for item in site %}
                <th scope="col">
                  {{ item }}
                </th>
              {% endfor %}
            </thead>
          {% else%}
            <tr>
              {% for item in site %}
                <td>
                  {{ item }}
                </td>
              {% endfor %}
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
