{% extends 'base.jinja2' %}

{% block title %}Site Statistics{% endblock %}

{% block content_before %}
  Site Statistics: {{ year }}
{% endblock %}

{% block content %}
<div class='container mt-4'>
  <h3 class='text-center'>Sandbar - Island</h3>
  <div class='row'>
    <div class='col text-right'>
      Surveys Completed:
    </div>
    <div class='col'>
      {{ data.sandbar_island.surveys }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Active Sites:
    </div>
    <div class='col'>
      {{ data.sandbar_island.active }} of {{ data.sandbar_island.sites }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Sites w/ Cameras:
    </div>
    <div class='col'>
      {{ data.sandbar_island.with_cameras }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Re-nesting Attempts:
    </div>
    <div class='col'>
      {{ data.sandbar_island.nestingattempts }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      <a href='#' data-toggle="tooltip" data-placement="left" data-original-title="Sum of max averages of the site surveys">
      Adults seen:
      </a>
    </div>
    <div class='col'>
      {{ data.sandbar_island.adult_count|round(1, 'floor') }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Eggs:
    </div>
    <div class='col'>
      {{ data.sandbar_island.egg }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Chicks 0-2:
    </div>
    <div class='col'>
      {{ data.sandbar_island.chick02 }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Chicks 3-9:
    </div>
    <div class='col'>
      {{ data.sandbar_island.chick39 }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Chicks 10-17:
    </div>
    <div class='col'>
      {{ data.sandbar_island.chick1017 }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Fledgelings:
    </div>
    <div class='col'>
      {{ data.sandbar_island.fledge }}
    </div>
  </div>
  <hr/>
  <h3 class='text-center'>Sandbar - Mainland</h3>
  <div class='row'>
    <div class='col text-right'>
      Surveys Completed:
    </div>
    <div class='col'>
      {{ data.sandbar_main.surveys }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Active Sites:
    </div>
    <div class='col'>
      {{ data.sandbar_main.active }} of {{ data.sandbar_main.sites }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Sites w/ Cameras:
    </div>
    <div class='col'>
      {{ data.sandbar_main.with_cameras }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Re-nesting Attempts:
    </div>
    <div class='col'>
      {{ data.sandbar_main.nestingattempts }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      <a href='#' data-toggle="tooltip" data-placement="left" data-original-title="Sum of max averages of the site surveys">
      Adults seen:
      </a>
    </div>
    <div class='col'>
      {{ data.sandbar_main.adult_count|round(1, 'floor') }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Eggs:
    </div>
    <div class='col'>
      {{ data.sandbar_main.egg }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Chicks 0-2:
    </div>
    <div class='col'>
      {{ data.sandbar_main.chick02 }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Chicks 3-9:
    </div>
    <div class='col'>
      {{ data.sandbar_main.chick39 }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Chicks 10-17:
    </div>
    <div class='col'>
      {{ data.sandbar_main.chick1017 }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Fledgelings:
    </div>
    <div class='col'>
      {{ data.sandbar_main.fledge }}
    </div>
  </div>
  <hr/>
  <h3 class='text-center'>Rooftop</h3>
  <div class='row'>
    <div class='col text-right'>
      Surveys Completed:
    </div>
    <div class='col'>
      {{ data.rooftop.surveys }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Active Sites:
    </div>
    <div class='col'>
      {{ data.rooftop.active }} of {{ data.rooftop.sites }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Sites w/ Cameras:
    </div>
    <div class='col'>
      {{ data.rooftop.with_cameras }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Re-nesting Attempts:
    </div>
    <div class='col'>
      {{ data.rooftop.nestingattempts }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      <a href='#' data-toggle="tooltip" data-placement="left" data-original-title="Sum of max averages of the site surveys">
      Adults seen:
      </a>
    </div>
    <div class='col'>
      {{ data.rooftop.adult_count|round(1, 'floor') }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Eggs:
    </div>
    <div class='col'>
      {{ data.rooftop.egg }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Chicks 0-2:
    </div>
    <div class='col'>
      {{ data.rooftop.chick02 }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Chicks 3-9:
    </div>
    <div class='col'>
      {{ data.rooftop.chick39 }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Chicks 10-17:
    </div>
    <div class='col'>
      {{ data.rooftop.chick1017 }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Fledgelings:
    </div>
    <div class='col'>
      {{ data.rooftop.fledge }}
    </div>
  </div>
</div>
{% endblock %}
