<div class='container mt-4'>
  <div class='row'>
    <div class='col text-right'>
      Surveys Completed:
    </div>
    <div class='col'>
      {{ data.surveys }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      <a href='#' data-toggle="tooltip" data-placement="left" data-original-title="Sum of max averages of the site surveys">
      Adults seen:
      </a>
    </div>
    <div class='col'>
      {{ data.adult_count|round(1, 'floor') }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Eggs:
    </div>
    <div class='col'>
      {{ data.egg }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Chicks 0-2:
    </div>
    <div class='col'>
      {{ data.chick02 }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Chicks 3-9:
    </div>
    <div class='col'>
      {{ data.chick39 }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Chicks 10-17:
    </div>
    <div class='col'>
      {{ data.chick1017 }}
    </div>
  </div>
  <div class='row'>
    <div class='col text-right'>
      Fledgelings:
    </div>
    <div class='col'>
      {{ data.fledge }}
    </div>
  </div>
</div>
