{% macro render_field(field) %}
  {% if field.label.text!='CSRF Token' %}
    <dt>{{ field.label }}
  {% endif %}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li class='error'>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% macro render_view(field) %}
  {% if field.label.text!='CSRF Token' %}
    {% if field.label.text!='Submit' %}
      <dt>{{ field.label }}: 
      <dd>  
        {{ field.data }}
      </dd>
    {% endif %}
  {% endif %}
{% endmacro %}