{# Navigation brand, nav toggle bar #}
<nav class='navbar navbar-expand-sm navbar-dark bg-primary flex-row pb-3'>
  <div class='container md-0 flex-nowrap'>

    {# Logo and App Name #}
    <nav class="navbar">
      <a class="navbar-brand" href="{{ url_for('main.index') }}">
        <img src="{{ url_for('static', filename='logo/logo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
        {{ config.APP_NAME }}
      </a>
    </nav>


    {# Visible only on large devices #}
    <nav class='navbar-nav'>
      <div class='collapse navbar-collapse'>
        {% if current_user.is_authenticated %}
          <a class='btn-nav-dashboard mr-2' href='{{ url_for('user.invite_user') }}'><i
            class='fas fa-user mr-1'></i>Invite</a>
        {% endif %}
        {# <a class='btn-nav-dashboard mr-2' href='{{ url_for('user.profile') }}'><i
          class='fas fa-user mr-1'></i>Profile</a> #}
        {% if current_user.is_authenticated %}
          <a class='btn-nav-dashboard' href='{{ url_for('user.logout') }}'><i
            class='fas fa-sign-out-alt mr-1'></i>Logout</a>
        {% else %}
          <a class='btn-nav-dashboard' href='{{ url_for('user.login') }}'><i
            class='fas fa-sign-out-alt mr-1'></i>Login</a>
        {% endif %}
      </div>
    </nav>

    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent'
            aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

  </div>
</nav>

{# Navigation menu / links bar #}
<nav class='navbar navbar-expand-sm navbar-dark bg-primary p-sm-0 py-0 {% if navbar_shadow %}shadow-sm{% endif %}'>
  <div class='container mt-0 pt-0'>
    <div class='collapse navbar-collapse' id='navbarSupportedContent' style='margin-top: -16px;'>
      <nav class='navbar-nav mr-auto'>
        <a id='main-index' class='nav-link' href='{{ url_for('main.index') }}'>Home</a>
        <a id='main-sd_cards' class='nav-link' href='{{ url_for('cards.index') }}'>SD Cards</a>
        <a id='main-cameras' class='nav-link' href='{{ url_for('cameras.index') }}'>Cameras</a>
        <a id='main-species' class='nav-link' href='{{ url_for('species.index') }}'>Species</a>
        <a id='main-sites' class='nav-link' href='{{ url_for('sites.index') }}'>Sites</a>
        <a id='main-surveys' class='nav-link' href='{{ url_for('surveys.index') }}'>Surveys</a>
        {# <a id='main-stats' class='nav-link' href='{{ url_for('stats.index') }}'>Summary</a> #}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Summary
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href='{{ url_for('summary.sites_2020') }}'>Sites: 2020</a>
            <a class="dropdown-item" href='{{ url_for('summary.sites_2021') }}'>Sites: 2021</a>
            <hr/>
            <a class="dropdown-item" href='{{ url_for('summary.site_species_2020') }}'>Site Species: 2020</a>
            <a class="dropdown-item" href='{{ url_for('summary.site_species_2021') }}'>Site Species: 2021</a>
            <hr/>
            <a class="dropdown-item" href='{{ url_for('summary.two_weeks_2020') }}'>Two Week Counts: 2020</a>
            <a class="dropdown-item" href='{{ url_for('summary.two_weeks_2021') }}'>Two Week Counts: 2021</a>
            <hr/>
            <a class="dropdown-item" href='{{ url_for('summary.cameras_2020') }}'>Cameras:2020</a>
            <a class="dropdown-item" href='{{ url_for('summary.cameras_2021') }}'>Cameras:2021</a>
            <a class="dropdown-item" href='{{ url_for('summary.species_route') }}'>Species</a>
            <hr/>
            <a class="dropdown-item" href='{{ url_for('summary.site_recorded_species_matrix', year=2020) }}'>Recorded Species Matricies: 2020</a>
            <a class="dropdown-item" href='{{ url_for('summary.site_recorded_species_matrix', year=2021) }}'>Recorded Species Matricies: 2021</a>
            <a class="dropdown-item" href='{{ url_for('summary.site_surveyed_species_matrix', year=2020) }}'>Surveyed Species Matricies: 2020</a>
            <a class="dropdown-item" href='{{ url_for('summary.site_surveyed_species_matrix', year=2021) }}'>Surveyed Species Matricies: 2021</a>
            <hr/>
            <a class="dropdown-item" href='{{ url_for('summary.site_recorded_groups_matrix', year=2020) }}'>Recorded Groups Matricies: 2020</a>
            <a class="dropdown-item" href='{{ url_for('summary.site_recorded_groups_matrix', year=2021) }}'>Recorded Groups Matricies: 2021</a>
            <a class="dropdown-item" href='{{ url_for('summary.site_surveyed_groups_matrix', year=2020) }}'>Surveyed Groups Matricies: 2020</a>
            <a class="dropdown-item" href='{{ url_for('summary.site_surveyed_groups_matrix', year=2021) }}'>Surveyed Groups Matricies: 2021</a>
            <hr/>
            <a class="dropdown-item" href='{{ url_for('summary.site_date_recorded_groups_matrix', year=2020) }}'>Recorded Date Groups Matricies: 2020</a>
            <a class="dropdown-item" href='{{ url_for('summary.site_date_recorded_groups_matrix', year=2021) }}'>Recorded Date Groups Matricies: 2021</a>
            <a class="dropdown-item" href='{{ url_for('summary.site_date_surveyed_groups_matrix', year=2020) }}'>Surveyed Date Groups Matricies: 2020</a>
            <a class="dropdown-item" href='{{ url_for('summary.site_date_surveyed_groups_matrix', year=2021) }}'>Surveyed Date Groups Matricies: 2021</a>
          </div>
        </li>
        <a id='main-about' class='nav-link' href='{{ url_for('reports.index') }}'>Reports</a>

        {% if current_user.is_authenticated %}
          <a id='validation_overlap' class='nav-link' href='{{ url_for('validation.recorded_species_overlap') }}'>validation</a>
          {% if current_user.has_roles('admin') %}
            <a id='main-users' class='nav-link' href='{{ url_for('main.users') }}'>Users</a>
          {% endif %}
        {% endif %}
        <a id='main-about' class='nav-link' href='{{ url_for('main.about') }}'>About</a>
        {% if current_user.is_authenticated %}
          <a class='nav-link d-sm-none' href='{{ url_for('user.invite_user') }}'><i
            class='fas fa-user mr-1'></i>Invite</a>
        {% endif %}
        {% if current_user.is_authenticated %}
          <a class='nav-link d-sm-none' href='{{ url_for('user.logout') }}'><i
            class='fas fa-sign-out-alt mr-1'></i>Logout</a>
        {% else %}
          <a class='nav-link d-sm-none' href='{{ url_for('user.login') }}'><i
            class='fas fa-sign-out-alt mr-1'></i>Login</a>
        {% endif %}
      </nav>
    </div>
  </div>
</nav>
