{# Navigation brand, nav toggle bar #}
<nav class='navbar navbar-expand-sm navbar-dark bg-primary flex-row pb-3'>
  <div class='container md-0 flex-nowrap'>

    <a class='navbar-brand' href='{{ url_for('main.index') }}'>
      {# img only visible when expanded #}
      <img class="collapse navbar-collapse" width="300"
           src='' alt='Carice Godbey'/>

      {# text only visible when small display #}
      <span class="d-sm-none">ATU ILT Data Collection</span>
    </a>

    <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent'
            aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

  </div>
</nav>

{# Navigation menu / links bar #}
<nav class='navbar navbar-expand-sm navbar-dark bg-primary p-sm-0 py-0 {% if navbar_shadow %}shadow-sm{% endif %}'>
  <div class='container mt-0 pt-0'>
    <div class='collapse navbar-collapse' id='navbarSupportedContent' style='margin-top: -16px;'>
      <nav class='navbar-nav mr-auto'>
        <a id='main-index' class='nav-link' href='{{ url_for('main.index') }}'>Home</a>
        <a id='main-sd_cards' class='nav-link' href='{{ url_for('cards.index') }}'>SD Cards</a>
        <a id='main-cameras' class='nav-link' href='{{ url_for('cameras.index') }}'>Cameras</a>
        <a id='main-predators' class='nav-link' href='{{ url_for('predators.index') }}'>Disturbers</a>
        <a id='main-sites' class='nav-link' href='{{ url_for('sites.index') }}'>Sites</a>
        <a id='main-surveys' class='nav-link' href='{{ url_for('surveys.index') }}'>Surveys</a>
        <a id='main-stats' class='nav-link' href='{{ url_for('stats.index') }}'>Statistics</a>
        <a id='main-about' class='nav-link' href='{{ url_for('reports.index') }}'>Reports</a>
        <a id='main-about' class='nav-link' href='{{ url_for('main.about') }}'>About</a>
      </nav>
    </div>
  </div>
</nav>
